* {
    background: rgb(184, 179, 174);
}

h1 {
    text-align: center;
    font-family: cursive;
    font-size: 35px;
    padding: 30px;
    margin-top: 80px;
}

#nome {
    color: rgb(56, 56, 134);
    font-size: 25px;
    font-family: cursive;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding-bottom: 30px;
}

p {
    text-align: center;
    font-size: 20px;
    font-family: cursive;
}

#matematica {
    font-size: 25px;
    font-family: cursive;
    font-weight: bold;
    background-color: rgb(250, 126, 77);
    color: black;
    position: absolute;
    top: 60%;
    left: 55%;
    height: 80px;
    width: 300px;
    transition: 1s all;
    
}

#matematica:hover, #gerais:hover {
    background-color: rgb(185, 56, 9);
    transform: scale(1.2);
    cursor: pointer;
}

#gerais {
    font-size: 25px;
    font-family: cursive;
    font-weight: bold;
    background-color: rgb(250, 126, 77);
    color: black;
    position: absolute;
    top: 60%;
    right:  55%;
    height: 80px;
    width: 300px;
    transition: 1s all;
    
}

